@charset "utf-8";

// FONT
$base-font:'Open sans',arial, helvetica, sans-serif;
$base-font-weight: 400;
$text-margin:.7em;

$base-font-size: 14px;
$base-font-size-480: 14px;
$base-font-size-640: 15px;
$base-font-size-960: 16px;
$base-line-height:1.4;


// Højde bredde basic
$base-margin:20px;
$page-width-max:1280px;
$read-width-max:640px;


$base-shadow: 1px 1px 5px 0px rgba(0,0,0,.1);
$button-shadow: 1px 1px 5px 0px rgba(0,0,0,.2);

// Farver
$es-color-black: #333;
$es-color-black-2: #353535;
$es-color-white: #fff;
$es-color-light: #f0f0f0;
$es-color-green: #87C05A;
$es-color-red: #F1892F;
$es-color-yellow: #f1e22f;
$es-color-blue: #2fa6f1;



