.splasher-site-footer{
    background:white;
    padding: 50px 20px;
    text-align: center;
    width:100%;
    position:fixed;
    z-index:0;
    bottom:0;
    a{
        opacity:.8;
        transition:opacity 120ms;
        
        &:hover{
            opacity:1;
        }
    }
    img{
        margin-left:-20px;
    }
}